<div>
    <div class="clr-row clr-justify-content-start">
        <h1>Mascotas para adoptar</h1>
    </div>
    <button class="btn btn-outline" routerLink="/mascotas-agregar">AGREGAR MASCOTA</button>
    <table class="table">
        <thead>
            <tr>

                <th class="left">Nombre</th>
                <th class="left">Tipo</th>
                <th class="left">Edad</th>
                <th class="left">´Descripción´</th>
                <th class="left">Acciones</th>
                <th class="left">Borrar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let mascota of mascotas">

                <td class="left">{{mascota.nombre}}</td>
                <td class="left">{{mascota.tipo}}</td>
                <td class="left">{{mascota.edad}}</td>
                <td class="left">{{mascota.descripcion}}</td>
                <td class="left"><a [routerLink]="['/mascotas-editar', mascota.id]">
                        <clr-icon shape="pencil" class="is-highlight"> </clr-icon>
                    </a>
                </td>
                <td class="left">
                    <button type="submit" (click)="borrar(mascota.id)">
                        <clr-icon shape="trash" class="is-inverse" class="is-solid" class="is-error"></clr-icon>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>



</div>