
<div>
<div class="clr-row clr-justify-content-start">
        <h1>Mascotas para adoptar</h1>
 </div>
 
<table class="table">
    <thead>
        <tr>
            
            <th class="left">Nombre</th>
            <th class="left">Tipo</th>
            <th class="left">Edad</th>
            <th class="left">´Descripción´</th>
        </tr>
    </thead>

    <tbody>
     <tr *ngFor="let mascota of mascotas">
           
            <td class="left">{{mascota.nombre}}</td>
            <td class="left">{{mascota.tipo}}</td>
            <td class="left">{{mascota.edad}}</td>
            <td class="left">{{mascota.descripcion}}</td>
     </tr>
   
    </tbody>
</table>



</div>

